ul{
    list-style-type: none;
    margin: 5;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    font-size: 20px;
}
    
li{
    float: left;
}
    
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 120px;
    text-decoration: none;
}
    
li a:hover{
    background-color: darkblue;
}
    
li a:active{
    background-color: darkblue;
}